.missions-container {
  margin: 20px 50px;
}

.row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr;
  padding: 5px;
  border: 1px solid gray;
}

.first-row,
.col-1 {
  font-size: 20px;
  font-weight: bold;
}

.col-3,
.col-4 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lavender {
  background-color: lavender;
}

.join-btn,
.leave-btn {
  padding: 5px;
  background-color: inherit;
  border: 2px solid gray;
  border-radius: 4px;
  font-size: 16px;
}

.leave-btn {
  border-color: red;
  color: red;
}

.active-member,
.nota-member {
  background-color: cornflowerblue;
  padding: 5px;
  border-radius: 4px;
  text-align: center;
  color: white;
}

.nota-member {
  background-color: gray;
}
